{
  acme_dns cloudflare {env.CF_API_TOKEN}
}

api.automoderator.app {
  reverse_proxy * http://127.0.0.1:7001
}

interactions.automoderator.app {
  reverse_proxy * http://127.0.0.1:7002
}

logs.automoderator.app {
  reverse_proxy * http://127.0.0.1:7003
}
