{
  acme_dns cloudflare {env.CF_API_TOKEN}
}

api.automoderator.app {
  reverse_proxy * http://127.0.0.1:7005
}

interactions.automoderator.app {
  reverse_proxy * http://127.0.0.1:7002
}

logs.automoderator.app {
  reverse_proxy * http://127.0.0.1:7003
}

api-canary.automoderator.app {
  reverse_proxy * http://127.0.0.1:7004
}

grafana.automoderator.app {
  reverse_proxy * http://127.0.0.1:6235
}

dozzle.automoderator.app {
  reverse_proxy * http://127.0.0.1:6234
}
